In [ ]:
#THREE SHEETS IN ONE EXCEL FILE:
import pandas as pd
d1={'v':['stefan','ian','paul','damon'],
     'm1':[4,2,3,5]}
d2={'h':['jermy','elena','nina','matt'],
    'm2':[3,5,3,4]}
d3={'w':['bonnie','cal','ben','mick'],
    'm3':[1,3,5,2]}
data1=pd.DataFrame(d1)
data2=pd.DataFrame(d2)
data3=pd.DataFrame(d3)
with pd.ExcelWriter('assignment.xlsx') as w:
    data1.to_excel(w,sheet_name='sheet1')
    data2.to_excel(w,sheet_name='sheet2')
    data3.to_excel(w,sheet_name='sheet3')

In [ ]:
data1

In [ ]:
data2

In [ ]:
data3

In [ ]:
data1.info()

In [ ]:
data1.describe()

In [13]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
h     4 non-null object
m2    4 non-null int64
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [14]:
data2.describe()

             m2
count  4.000000
mean   3.750000
std    0.957427
min    3.000000
25%    3.000000
50%    3.500000
75%    4.250000
max    5.000000

In [16]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
w     4 non-null object
m3    4 non-null int64
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [17]:
data3.describe()

             m3
count  4.000000
mean   2.750000
std    1.707825
min    1.000000
25%    1.750000
50%    2.500000
75%    3.500000
max    5.000000

In [52]:
#data scaling:
#Load digit

In [53]:
from sklearn.datasets import load_digits
from sklearn import preprocessing
digits = load_digits()
print(digits.data.shape)

(1797, 64)

In [66]:
x1=digits.data
y1=digits.target
n1=preprocessing.normalize(x1)
print(n1)

[[0.         0.         0.09024036 ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.15413829 0.         0.        ]
 [0.         0.         0.         ... 0.24153867 0.1358655  0.        ]
 ...
 [0.         0.         0.0140138  ... 0.08408278 0.         0.        ]
 [0.         0.         0.03044313 ... 0.18265877 0.         0.        ]
 [0.         0.         0.14230641 ... 0.17076769 0.01423064 0.        ]]

In [67]:
preprocessing.scale(x1)

array([[ 0.        , -0.33501649, -0.04308102, ..., -1.14664746,
        -0.5056698 , -0.19600752],
       [ 0.        , -0.33501649, -1.09493684, ...,  0.54856067,
        -0.5056698 , -0.19600752],
       [ 0.        , -0.33501649, -1.09493684, ...,  1.56568555,
         1.6951369 , -0.19600752],
       ...,
       [ 0.        , -0.33501649, -0.88456568, ..., -0.12952258,
        -0.5056698 , -0.19600752],
       [ 0.        , -0.33501649, -0.67419451, ...,  0.8876023 ,
        -0.5056698 , -0.19600752],
       [ 0.        , -0.33501649,  1.00877481, ...,  0.8876023 ,
        -0.26113572, -0.19600752]])

In [55]:
from sklearn.datasets import load_breast_cancer
from sklearn import preprocessing
breast_cancer = load_breast_cancer()
print(breast_cancer.data.shape)

(569, 30)

In [56]:
x=breast_cancer.data
y=breast_cancer.target
n=preprocessing.normalize(x)
print(n)

[[7.92541486e-03 4.57286305e-03 5.40989964e-02 ... 1.16920795e-04
  2.02695018e-04 5.23808686e-05]
 [8.66575595e-03 7.48616836e-03 5.59882822e-02 ... 7.83583182e-05
  1.15852352e-04 3.75024596e-05]
 [9.36668268e-03 1.01087865e-02 6.18419883e-02 ... 1.15596947e-04
  1.71873157e-04 4.16624718e-05]
 ...
 [1.16438847e-02 1.96964025e-02 7.59658259e-02 ... 9.94640269e-05
  1.55579134e-04 5.48525170e-05]
 [9.23020523e-03 1.31418408e-02 6.27743569e-02 ... 1.18738077e-04
  1.83125480e-04 5.55604587e-05]
 [2.31098880e-02 7.30820427e-02 1.42709515e-01 ... 0.00000000e+00
  8.55006294e-04 2.09626935e-04]]

In [63]:
preprocessing.scale(x)

array([[ 1.09706398, -2.07333501,  1.26993369, ...,  2.29607613,
         2.75062224,  1.93701461],
       [ 1.82982061, -0.35363241,  1.68595471, ...,  1.0870843 ,
        -0.24388967,  0.28118999],
       [ 1.57988811,  0.45618695,  1.56650313, ...,  1.95500035,
         1.152255  ,  0.20139121],
       ...,
       [ 0.70228425,  2.0455738 ,  0.67267578, ...,  0.41406869,
        -1.10454895, -0.31840916],
       [ 1.83834103,  2.33645719,  1.98252415, ...,  2.28998549,
         1.91908301,  2.21963528],
       [-1.80840125,  1.22179204, -1.81438851, ..., -1.74506282,
        -0.04813821, -0.75120669]])