In [1]:
import numpy as np #importing the numpy pakeage

In [2]:
arr=[1,2,3,5,6,9] #creating a list of numbers
np.array(arr) #THIS IS TO PRINT THE LIST AS A 1D ARRAY

array([1, 2, 3, 5, 6, 9])

In [3]:
mat=[[1,3,5],[2,4,6],[7,8,9]]# CREATING USING A NESTED LIST
np.array(mat)# THIS IS TO PRINT THE LIST AS A 2D ARRAY

array([[1, 3, 5],
       [2, 4, 6],
       [7, 8, 9]])

In [4]:
a=np.arange(0,20,2) #np.arange(start,stop,step)to return evenly spaced values within a given intervals

In [5]:
a

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [6]:
# IT RETURNS A ARRAY OF GIVEN SHAPE AND TYPE WITH ZEROS
np.zeros(5)#1D ARRAY

array([0., 0., 0., 0., 0.])

In [7]:
np.zeros((2,2))#2D ARRAY

array([[0., 0.],
       [0., 0.]])

In [8]:
# IT RETURNS A ARRAY OF GIVEN SHAPE AND TYPE WITH ONES
np.ones(3)#1D ARRAY

array([1., 1., 1.])

In [9]:
np.ones((3,3))# 2D ARRAY

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [10]:
#Return a matrix having 1's on the diagonal and 0's elsewhere(identity matrix)
np.eye(4,4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [11]:
#numpy. linspace (start, stop, num=50)
#creating numeric sequences,similar to arange function.
#it prints the linearly spaced vectors
np.linspace(0,5,10)

array([0.        , 0.55555556, 1.11111111, 1.66666667, 2.22222222,
       2.77777778, 3.33333333, 3.88888889, 4.44444444, 5.        ])

In [12]:
# creates an array of specified shape and fills it with positive random values.
np.random.rand(5)

array([0.8853081 , 0.46464943, 0.55325534, 0.08206556, 0.12914508])

In [13]:
#creates an array of specified shape and fills it with random values both positive and negative.
np.random.randn(4)

array([-0.99757697, -1.56809533, -1.98913608, -0.12876612])

In [14]:
#It returns an array of specified shape and fills it with random integers from low to high
np.random.randint(1,10,5)

array([7, 3, 3, 5, 4])

In [15]:
#reshape function is used to give a new shape to an array without changing its data.J
a.reshape(5,2)

array([[ 0,  2],
       [ 4,  6],
       [ 8, 10],
       [12, 14],
       [16, 18]])

In [16]:
a.max()# prints the maximum value

18

In [17]:
a.argmax()# prints the index of the maximum value

9

In [18]:
a.min()# print the minimum value

0

In [19]:
a.argmin()#print the index of the minimum value

0

In [20]:
a.shape#returns the shape of the array

(10,)

dtype('int32')

# numpy indexing and selection

In [22]:
import numpy as np

In [23]:
arr=np.arange(10)

In [24]:
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [25]:
arr[2:7] #indexing the list from 2-6 leaving 7

array([2, 3, 4, 5, 6])

In [26]:
arr>2 #to get a boolean value (i.e) numbers greater than 2 is TRUE, while others are FALSE

array([False, False, False,  True,  True,  True,  True,  True,  True,
        True])

In [27]:
arr[arr>2] #TO print all the numbers greater than two

array([3, 4, 5, 6, 7, 8, 9])

# 2d array

In [28]:
import  numpy as np

In [29]:
mat=np.array([[1,2,3],[4,5,6],[7,8,9]])

In [30]:
mat

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [31]:
mat[0] #TO PRINT THE FIRST ROW

array([1, 2, 3])

In [32]:
mat[1,2] #TO PRINT THE ELEMENT IN THE 1ST ROW,2ND COL

6

# slicing operations

In [33]:
mat[:2,2:]

array([[3],
       [6]])

In [34]:
mat[1:,1:]

array([[5, 6],
       [8, 9]])

# numpy arithmetic operations

In [35]:
import numpy as np

In [36]:
arr=np.arange(0,20)

In [37]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [38]:
arr+arr

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32,
       34, 36, 38])

In [39]:
arr-arr #diff of the arr

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [40]:
arr*arr #pdt of the arr

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144,
       169, 196, 225, 256, 289, 324, 361])

In [41]:
arr+100 # adding 100 to arr

array([100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112,
       113, 114, 115, 116, 117, 118, 119])

In [42]:
arr-100 #subrating 100 from arr

array([-100,  -99,  -98,  -97,  -96,  -95,  -94,  -93,  -92,  -91,  -90,
        -89,  -88,  -87,  -86,  -85,  -84,  -83,  -82,  -81])

In [43]:
arr*2 # multiplying 100 to arr

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32,
       34, 36, 38])

In [44]:
arr**2 #squaring the arr

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144,
       169, 196, 225, 256, 289, 324, 361], dtype=int32)

In [45]:
np.sqrt(arr) #sqr root of arr

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ,
       3.16227766, 3.31662479, 3.46410162, 3.60555128, 3.74165739,
       3.87298335, 4.        , 4.12310563, 4.24264069, 4.35889894])

In [46]:
np.exp(arr) #exponential of arr

array([1.00000000e+00, 2.71828183e+00, 7.38905610e+00, 2.00855369e+01,
       5.45981500e+01, 1.48413159e+02, 4.03428793e+02, 1.09663316e+03,
       2.98095799e+03, 8.10308393e+03, 2.20264658e+04, 5.98741417e+04,
       1.62754791e+05, 4.42413392e+05, 1.20260428e+06, 3.26901737e+06,
       8.88611052e+06, 2.41549528e+07, 6.56599691e+07, 1.78482301e+08])

In [47]:
np.max(arr) # max value of arr

19

In [48]:
np.min(arr) #min value of arr

0

In [49]:
np.sin(arr) # sine values of arr

array([ 0.        ,  0.84147098,  0.90929743,  0.14112001, -0.7568025 ,
       -0.95892427, -0.2794155 ,  0.6569866 ,  0.98935825,  0.41211849,
       -0.54402111, -0.99999021, -0.53657292,  0.42016704,  0.99060736,
        0.65028784, -0.28790332, -0.96139749, -0.75098725,  0.14987721])

In [50]:
np.cos(arr)# cosine values of arr

array([ 1.        ,  0.54030231, -0.41614684, -0.9899925 , -0.65364362,
        0.28366219,  0.96017029,  0.75390225, -0.14550003, -0.91113026,
       -0.83907153,  0.0044257 ,  0.84385396,  0.90744678,  0.13673722,
       -0.75968791, -0.95765948, -0.27516334,  0.66031671,  0.98870462])

In [51]:
np.tan(arr)# tan values of arr

array([ 0.00000000e+00,  1.55740772e+00, -2.18503986e+00, -1.42546543e-01,
        1.15782128e+00, -3.38051501e+00, -2.91006191e-01,  8.71447983e-01,
       -6.79971146e+00, -4.52315659e-01,  6.48360827e-01, -2.25950846e+02,
       -6.35859929e-01,  4.63021133e-01,  7.24460662e+00, -8.55993401e-01,
        3.00632242e-01,  3.49391565e+00, -1.13731371e+00,  1.51589471e-01])

In [52]:
np.log(arr)# log values of arr

C:\Users\Anbu Nambi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.

array([      -inf, 0.        , 0.69314718, 1.09861229, 1.38629436,
       1.60943791, 1.79175947, 1.94591015, 2.07944154, 2.19722458,
       2.30258509, 2.39789527, 2.48490665, 2.56494936, 2.63905733,
       2.7080502 , 2.77258872, 2.83321334, 2.89037176, 2.94443898])