In [1]:
import pandas as pd

In [2]:
pf=pd.read_csv("weather.csv")

In [4]:
pf.head(5)

          Day  Temperature   Wind Speed           Event
0  01/01/2018            35         320           Rainy
1  02/01/2018            28         123           cloud
2  03/01/2018            26         156             Hot
3  04/01/2018            29         174  not available
4  05/01/2018            30         185           Rainy

In [5]:
pf.tail(3)

           Day  Temperature   Wind Speed           Event
42  08/04/2018            24         300  not available
43  09/04/2018            35         213  not available
44  10/04/2018            22         265  not available

In [7]:
 print(pf["Wind Speed"].head())

0    320
1    123
2    156
3    174
4    185
Name: Wind Speed, dtype: int64

In [10]:
print(pf["Wind Speed"][2])

156

In [14]:
pf.loc[pf["Event"]=="Rainy"]

           Day  Temperature   Wind Speed  Event
0   01/01/2018            35         320  Rainy
4   05/01/2018            30         185  Rainy
13  14/01/2018            26         457  Rainy
18  05/02/2018            35         245  Rainy
23  10/02/2018            32         269  Rainy
24  11/02/2018            32         247  Rainy
25  01/03/2018            31         258  Rainy
26  02/03/2018            41         265  Rainy
32  08/03/2018            20         245  Rainy
35  01/04/2018            40         247  Rainy

In [16]:
pf.describe()

       Temperature   Wind Speed
count     45.000000   45.000000
mean      30.933333  258.444444
std        6.712945   90.668616
min       20.000000  123.000000
25%       25.000000  185.000000
50%       31.000000  254.000000
75%       35.000000  300.000000
max       45.000000  563.000000