In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics as m

In [2]:
df=pd.read_csv('weather.csv')

In [3]:
df.describe()

       Temperature   Wind Speed
count     45.000000   45.000000
mean      30.933333  258.444444
std        6.712945   90.668616
min       20.000000  123.000000
25%       25.000000  185.000000
50%       31.000000  254.000000
75%       35.000000  300.000000
max       45.000000  563.000000

In [4]:
x=df["Wind Speed"].values.reshape(-1,1)
y=df["Temperature "].values.reshape(-1,1)

In [5]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.4,random_state=0)

In [6]:
r=LinearRegression()

In [7]:
r.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [8]:
y_pred=r.predict(x_test)

In [9]:
df1=pd.DataFrame({'actual':y_test.flatten(),'predicted':y_pred.flatten()})
df1

    actual  predicted
0       28  31.125535
1       32  29.910635
2       42  31.125535
3       30  31.854476
4       35  26.451742
5       31  30.811090
6       43  30.868262
7       28  32.268971
8       35  29.481846
9       21  30.868262
10      25  30.811090
11      25  30.996899
12      23  28.995886
13      26  32.268971
14      35  31.454273
15      35  30.996899
16      35  32.268971
17      30  30.653868

In [11]:
print('MAE=',m.mean_absolute_error(y_test,y_pred))
print('MES=',m.mean_squared_error(y_test,y_pred))
print('RMES=',np.sqrt(m.mean_squared_error(y_test,y_pred)))

MAE= 5.193039168413048
MES= 37.97983112313467
RMES= 6.162777873908379